.slider-pro {
	font-family: "Open Sans",Arial;
}
.links {
	text-align: center; margin-top: 10px;
}
#example5 .sp-thumbnail-image-container {
	width: 100px; height: 80px; overflow: hidden; float: left;
}
#example5 .sp-thumbnail-image {
	height: 100%;
}
.sp-image {
	width: 100% !important; height: 100% !important; margin-top: 0px !important;
}
#example5 .sp-thumbnail-text {
	padding: 16px; height: 142px; background-color: rgb(209, 219, 188);
}
#example5 .sp-thumbnail-title {
	color: rgb(51, 51, 51); text-transform: uppercase; margin-bottom: 5px;
}
#example5 .sp-thumbnail-description {
	color: rgb(51, 51, 51); font-size: 14px;
}
.sp-thumbnail-description > p {
	line-height: 23px; font-size: 14px;
}
@media only screen and (max-width:767px)
{
.sp-bottom-thumbnails.sp-has-pointer .sp-thumbnail {
	width: 100%;
}
.sl-title {
	background: rgb(144, 170, 156); padding: 3px 7px; top: 0px; right: 0px; display: block; position: absolute;
}
.sl-title span {
	font-size: 13px;
}
.sp-top-thumbnails .sp-thumbnail-container {
	margin-top: 20px;
}
.sp-bottom-thumbnails .sp-thumbnail-container {
	margin-top: 20px;
}
}
@media all and (max-width:500px)
{
#example5 .sp-thumbnail {
	
}
#example5 .sp-thumbnail-image-container {
	display: none;
}
#example5 .sp-thumbnail-text {
	
}
#example5 .sp-thumbnail-title {
	text-transform: uppercase; font-size: 12px;
}
}
@media only screen and (max-width:400px)
{
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail {
	display: none;
}
.sp-bottom-thumbnails.sp-has-pointer .sp-thumbnail {
	top: 2px;
}
.sp-top-thumbnails .sp-thumbnail-container {
	margin-top: 16px;
}
.sp-bottom-thumbnails .sp-thumbnail-container {
	margin-top: 16px;
}
}
