.predictiveSearchResults {
	border: 1px solid hsl(0, 1%, 60%); border-image: none; width: 100%; position: absolute; z-index: 999999; background-color: hsl(0, 0%, 100%);
}
.predictiveSearchHolder {
	position: relative;
}
.predictiveSearchCategory {
	background: hsl(47, 100%, 89%);
}
.predictiveSearchResults .selectedResult {
	text-decoration: underline;
}
.predictiveSearchResults a {
	text-decoration: none;
}
.predictiveSearchResults > * {
	padding: 3px 4px; color: rgb(0, 0, 0);
}
.customPredictiveResultItem {
	margin: 2px; line-height: 160%;
}
.customPredictiveResultItem a {
	color: rgb(0, 0, 0); text-decoration: none; display: block;
}
.customPredictiveResultItem.selectedResult {
	color: rgb(255, 255, 255); background-color: rgb(50, 108, 166);
}
.customPredictiveResultItem.selectedResult a {
	color: rgb(255, 255, 255); text-decoration: none;
}
