@import url( animations-ie-fix.css );
.animated {
	animation-duration: 1s; animation-fill-mode: both; -webkit-animation-duration: 1s; -webkit-animation-fill-mode: both;
}
.slow {
	animation-duration: 1.5s; animation-fill-mode: both; -webkit-animation-duration: 1.5s; -webkit-animation-fill-mode: both;
}
.slower {
	animation-duration: 2s; animation-fill-mode: both; -webkit-animation-duration: 2s; -webkit-animation-fill-mode: both;
}
.slowest {
	animation-duration: 3s; animation-fill-mode: both; -webkit-animation-duration: 3s; -webkit-animation-fill-mode: both;
}
.delay-250 {
	animation-delay: 0.25s; -webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; -o-animation-delay: 0.25s;
}
.delay-500 {
	animation-delay: 0.5s; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; -o-animation-delay: 0.5s;
}
.delay-750 {
	animation-delay: 0.75s; -webkit-animation-delay: 0.75s; -moz-animation-delay: 0.75s; -o-animation-delay: 0.75s;
}
.delay-1000 {
	animation-delay: 1s; -webkit-animation-delay: 1.0s; -moz-animation-delay: 1.0s; -o-animation-delay: 1.0s;
}
.delay-1250 {
	animation-delay: 1.25s; -webkit-animation-delay: 1.25s; -moz-animation-delay: 1.25s; -o-animation-delay: 1.25s;
}
.delay-1500 {
	animation-delay: 1.5s; -webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; -o-animation-delay: 1.5s;
}
.delay-1750 {
	animation-delay: 1.75s; -webkit-animation-delay: 1.75s; -moz-animation-delay: 1.75s; -o-animation-delay: 1.75s;
}
.delay-2000 {
	animation-delay: 2s; -webkit-animation-delay: 2.0s; -moz-animation-delay: 2.0s; -o-animation-delay: 2.0s;
}
.delay-2500 {
	animation-delay: 2.5s; -webkit-animation-delay: 2.5s; -moz-animation-delay: 2.5s; -o-animation-delay: 2.5s;
}
.delay-2000 {
	animation-delay: 2s; -webkit-animation-delay: 2.0s; -moz-animation-delay: 2.0s; -o-animation-delay: 2.0s;
}
.delay-2500 {
	animation-delay: 2.5s; -webkit-animation-delay: 2.5s; -moz-animation-delay: 2.5s; -o-animation-delay: 2.5s;
}
.delay-3000 {
	animation-delay: 3s; -webkit-animation-delay: 3.0s; -moz-animation-delay: 3.0s; -o-animation-delay: 3.0s;
}
.delay-3500 {
	animation-delay: 3.5s; -webkit-animation-delay: 3.5s; -moz-animation-delay: 3.5s; -o-animation-delay: 3.5s;
}
.bounceInRight {
	opacity: 0; transform: translateX(400px); -webkit-transform: translateX(400px);
}
.bounceInLeft {
	opacity: 0; transform: translateX(400px); -webkit-transform: translateX(400px);
}
.bounceInUp {
	opacity: 0; transform: translateX(400px); -webkit-transform: translateX(400px);
}
.bounceInDown {
	opacity: 0; transform: translateX(400px); -webkit-transform: translateX(400px);
}
.fadeInRight {
	opacity: 0; transform: translateX(400px); -webkit-transform: translateX(400px);
}
.fadeInLeft {
	opacity: 0; transform: translateX(400px); -webkit-transform: translateX(400px);
}
.fadeInUp {
	opacity: 0; transform: translateX(400px); -webkit-transform: translateX(400px);
}
.fadeInDown {
	opacity: 0; transform: translateX(400px); -webkit-transform: translateX(400px);
}
.flipInX {
	opacity: 0;
}
.flipInY {
	opacity: 0;
}
.rotateIn {
	opacity: 0;
}
.rotateInUpLeft {
	opacity: 0;
}
.rotateInUpRight {
	opacity: 0;
}
.rotateInDownLeft {
	opacity: 0;
}
.rotateDownUpRight {
	opacity: 0;
}
.rollIn {
	opacity: 0;
}
.lightSpeedInRight {
	opacity: 0; transform: translateX(400px); -webkit-transform: translateX(400px);
}
.lightSpeedInLeft {
	opacity: 0; transform: translateX(400px); -webkit-transform: translateX(400px);
}
.bounceIn.go {
	animation-name: bounceIn; -webkit-animation-name: bounceIn;
}
.bounceInRight.go {
	animation-name: bounceInRight; -webkit-animation-name: bounceInRight;
}
.bounceInLeft.go {
	animation-name: bounceInLeft; -webkit-animation-name: bounceInLeft;
}
.bounceInUp.go {
	animation-name: bounceInUp; -webkit-animation-name: bounceInUp;
}
.bounceInDown.go {
	animation-name: bounceInDown; -webkit-animation-name: bounceInDown;
}
.fadeIn {
	opacity: 0;
}
.fadeIn.go {
	animation-name: fadeIn; -webkit-animation-name: fadeIn;
}
.growIn {
	opacity: 0; transform: scale(0.2); -webkit-transform: scale(0.2);
}
.growIn.go {
	animation-name: growIn; -webkit-animation-name: growIn;
}
.shake.go {
	animation-name: shake; -webkit-animation-name: shake;
}
.shakeUp.go {
	animation-name: shakeUp; -webkit-animation-name: shakeUp;
}
.fadeInLeft {
	opacity: 0; transform: translateX(-400px); -webkit-transform: translateX(-400px);
}
.fadeInLeft.go {
	animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;
}
.fadeInRight {
	opacity: 0; transform: translateX(400px); -webkit-transform: translateX(400px);
}
.fadeInRight.go {
	animation-name: fadeInRight; -webkit-animation-name: fadeInRight;
}
.fadeInUp {
	opacity: 0; transform: translateY(400px); -webkit-transform: translateY(400px);
}
.fadeInUp.go {
	animation-name: fadeInUp; -webkit-animation-name: fadeInUp;
}
.fadeInDown {
	opacity: 0; transform: translateY(-400px); -webkit-transform: translateY(-400px);
}
.fadeInDown.go {
	animation-name: fadeInDown; -webkit-animation-name: fadeInDown;
}
.rotateIn.go {
	animation-name: rotateIn; -webkit-animation-name: rotateIn;
}
.rotateInUpLeft.go {
	animation-name: rotateInUpLeft; -webkit-animation-name: rotateInUpLeft;
}
.rotateInDownLeft.go {
	animation-name: rotateInDownLeft; -webkit-animation-name: rotateInDownLeft;
}
.rotateInUpRight.go {
	animation-name: rotateInUpRight; -webkit-animation-name: rotateInUpRight;
}
.rotateInDownRight.go {
	animation-name: rotateInDownRight; -webkit-animation-name: rotateInDownRight;
}
.rollIn.go {
	animation-name: rollIn; -webkit-animation-name: rollIn;
}
.wiggle.go {
	animation-name: wiggle; animation-timing-function: ease-in; -webkit-animation-name: wiggle; -webkit-animation-timing-function: ease-in;
}
.swing.go {
	transform-origin: center top; animation-name: swing; -webkit-animation-name: swing; -webkit-transform-origin: top center;
}
.tada.go {
	animation-name: tada; -webkit-animation-name: tada;
}
.wobble.go {
	animation-name: wobble; -webkit-animation-name: wobble;
}
.pulse.go {
	animation-name: pulse; -webkit-animation-name: pulse;
}
.lightSpeedInRight.go {
	animation-name: lightSpeedInRight; animation-timing-function: ease-out; -webkit-animation-name: lightSpeedInRight; -webkit-animation-timing-function: ease-out;
}
.lightSpeedInLeft.go {
	animation-name: lightSpeedInLeft; animation-timing-function: ease-out; -webkit-animation-name: lightSpeedInLeft; -webkit-animation-timing-function: ease-out;
}
.flip.go {
	backface-visibility: visible !important; animation-name: flip; -webkit-backface-visibility: visible; -webkit-animation-name: flip;
}
.flipInX.go {
	backface-visibility: visible !important; animation-name: flipInX; -webkit-backface-visibility: visible; -webkit-animation-name: flipInX;
}
.flipInY.go {
	backface-visibility: visible !important; animation-name: flipInY; -webkit-backface-visibility: visible; -webkit-animation-name: flipInY;
}
.bounceOut.goAway {
	animation-name: bounceOut; -webkit-animation-name: bounceOut;
}
.bounceOutUp.goAway {
	animation-name: bounceOutUp; -webkit-animation-name: bounceOutUp;
}
.bounceOutDown.goAway {
	animation-name: bounceOutDown; -webkit-animation-name: bounceOutDown;
}
.bounceOutLeft.goAway {
	animation-name: bounceOutLeft; -webkit-animation-name: bounceOutLeft;
}
.bounceOutRight.goAway {
	animation-name: bounceOutRight; -webkit-animation-name: bounceOutRight;
}
.fadeOut.goAway {
	animation-name: fadeOut; -webkit-animation-name: fadeOut;
}
.fadeOutUp.goAway {
	animation-name: fadeOutUp; -webkit-animation-name: fadeOutUp;
}
.fadeOutDown.goAway {
	animation-name: fadeOutDown; -webkit-animation-name: fadeOutDown;
}
.fadeOutLeft.goAway {
	animation-name: fadeOutLeft; -webkit-animation-name: fadeOutLeft;
}
.fadeOutRight.goAway {
	animation-name: fadeOutRight; -webkit-animation-name: fadeOutRight;
}
.flipOutX.goAway {
	backface-visibility: visible !important; animation-name: flipOutX; -webkit-backface-visibility: visible; -webkit-animation-name: flipOutX;
}
.flipOutY {
	backface-visibility: visible !important; animation-name: flipOutY; -webkit-backface-visibility: visible; -webkit-animation-name: flipOutY;
}
.lightSpeedOutRight.goAway {
	animation-name: lightSpeedOutRight; animation-timing-function: ease-in; -webkit-animation-name: lightSpeedOutRight; -webkit-animation-timing-function: ease-in;
}
.lightSpeedOutLeft.goAway {
	animation-name: lightSpeedOutLeft; animation-timing-function: ease-in; -webkit-animation-name: lightSpeedOutLeft; -webkit-animation-timing-function: ease-in;
}
.rotateOut.goAway {
	animation-name: rotateOut; -webkit-animation-name: rotateOut;
}
.rotateOutUpLeft.goAway {
	animation-name: rotateOutUpLeft; -webkit-animation-name: rotateOutUpLeft;
}
.rotateOutDownLeft.goAway {
	animation-name: rotateOutDownLeft; -webkit-animation-name: rotateOutDownLeft;
}
.rotateOutUpRight.goAway {
	animation-name: rotateOutUpRight; -webkit-animation-name: rotateOutUpRight;
}
.rollOut.goAway {
	animation-name: rollOut; -webkit-animation-name: rollOut;
}
.fadeInUpShort {
	opacity: 0; transform: translateY(20px); -webkit-transform: translateY(20px);
}
.fadeInUpShort.go {
	animation-name: fadeInUpShort; -webkit-animation-name: fadeInUpShort;
}
.fadeInDownShort {
	opacity: 0; transform: translateY(-20px); -webkit-transform: translateY(-20px);
}
.fadeInDownShort.go {
	animation-name: fadeInDownShort; -webkit-animation-name: fadeInDownShort;
}
.fadeInRightShort {
	opacity: 0; transform: translateX(20px); -webkit-transform: translateX(20px);
}
.fadeInRightShort.go {
	animation-name: fadeInRightShort; -webkit-animation-name: fadeInRightShort;
}
.fadeInLeftShort {
	opacity: 0; transform: translateX(-20px); -webkit-transform: translateX(-20px);
}
.fadeInLeftShort.go {
	animation-name: fadeInLeftShort; -webkit-animation-name: fadeInLeftShort;
}
